@use "../foundation/colors" as *;
@use '../util' as *;

$border-radius: rem(20);

.card {
  width: 100%;
  height: rem(567);
  background: $clr-card-bg;
  border-radius: $border-radius;
  box-shadow: 0 40px 40px -20px hsla(228, 87%, 39%, 0.1518);

  @include breakpoint(medium) {
    height: rem(697);
  }

  &__hero {
    height: rem(160);
    background: center / cover no-repeat url(/images/illustration-hero.svg);
    border-radius: $border-radius $border-radius 0 0;

    @include breakpoint(medium) {
      height: rem(220);
    }
  }

  &__contents {
    padding: rem(32) rem(24);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(medium) {
      padding: rem(45) rem(48) rem(48);
    }
  }

  &__header {
    font-size: rem(22);
    font-weight: 900;
    color: $clr-card-header;
    margin-bottom: rem(16);

    @include breakpoint(medium) {
      font-size: rem(28);
    }
  }

  &__body {
    font-size: rem(15);
    line-height: rem(25);
    color: $clr-card-body;
    margin-bottom: rem(24);

    @include breakpoint(medium) {
      font-size: rem(16);
      line-height: rem(26);
      margin-bottom: rem(20);
    }
  }

  &__order {
    display: flex;
    padding: rem(16);
    background-color: $clr-order-bg;
    margin-bottom: rem(24);
    border-radius: rem(11);

    &::before {
      display: block;
      content: "";
      width: rem(48);
      height: rem(48);
      background: no-repeat url(/images/icon-music.svg);
      margin-right: rem(20);
    }

    @include breakpoint(medium) {
      padding: rem(25) rem(24);
      margin-bottom: rem(32);
    }
  }

  &__cta {
    font-size: rem(15);
    font-weight: 900;
    color: $clr-card-cta;
    height: rem(50);
    margin-bottom: rem(24);
    border: none;
    background: $clr-card-cta-bg;
    border-radius: rem(11);
    box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.1903);
    cursor: pointer;

    &:hover {
      background-color: $clr-card-cta-hover;
    }

    @include breakpoint(medium) {
      margin-bottom: rem(32);
    }
  }

  &__cancel {
    font-size: rem(15);
    font-weight: 900;
    color: $clr-card-cancel;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: $clr-card-cancel-hover;
    }
  }
}
